/* Importing font for the logo */
@font-face{
  font-family: "Roboto";
  src: url(./assets/Roboto-Regular.ttf);
}

@font-face{
  font-family: "Raleway";
  src: url(./assets/Raleway.ttf);
}

@font-face{
  font-family: "Caveat";
  src: url(./assets/Caveat.ttf);
}

/* Adding some shadows */
p{
  text-shadow: 1px 1px #000000;
}

/* Adding background color because of top and bottom margin */
body{
  background-color: #202020;
}

/* Aligning all components on the page */
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  background-color: #202020;
  display: flex !important;
  flex: 1 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
  overflow: hidden;
}

/* Nav bar */
.navbar{
  position: fixed;
  background-color: #1B1B1B;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 4;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Central logo */
.logo{
  display: block;
  flex-basis: 65px;
  text-align: center;
  line-height: 0;
  
}
.logo .logo-img svg{
  margin-top: 5px;
}
#circle-logo{
  transition: .3s;
}
.logo .logo-img svg:hover #circle-logo{
  fill: #0091ea;
}
#viking-logo{
  transition: 5s;
}
.logo .logo-img svg:hover #viking-logo{
  fill: #00bfa5;
  animation-duration: 0.5s;
  transition: .3s;
}


/* Menu section */
.menu-bar{
  background-color: transparent !important;
  display: block;
  text-align: center;
  display: flex;
  width: 90%;
  margin-top: -5px;
  position: absolute;
  text-align: center;
  height: 50px;
  top: 0;
}

.selected i{
  color: #00bfa5 !important;
}

/* Aligning items so text on hover will be displayed in the center */
.menu-bar a{
  position: relative;
  display: block;
  margin: auto;
  line-height: 50px;
  height: 50px;
}

/* Proper display of the text instead of the icon */
.menu-bar a:after {
  content: '';
  font-size: 11px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  line-height: 40px;
}

/* Size of menu icons */
.menu-bar i{
  font-size: 30px !important;
}

/* Changing color on hover */
.menu-bar a:hover {
  color: #00bfa5;
}
/* Hiding icons on hover */
.menu-bar a:hover i {
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}
/* Setting icons content  */
.menu-bar .me:before{
  content: 'account_circle';
}
.menu-bar .skills:before{
  content: 'build';
}
.menu-bar .work:before{
  content: 'business_center';
  top: -1px;
}
.menu-bar .contact:before{
  content: 'mail_outline';
}
.menu-bar a:first-child:hover:after {
  content: 'ABOUT';
  font-weight: 600;
  left:-5px;
}
.menu-bar a:first-child+a:after{
  content: 'SKILLS';
  font-weight: 600;
  left: -4px;
}
.menu-bar a:first-child+a+a+a:after{
  content: 'MY WORK';
  font-weight: 600;
  left: -3px;
}
.menu-bar a:first-child+a+a+a+a:after{
  content: 'CONTACT';
  font-weight: 600;
  left: -10px;
}
.menu-bar a:hover:after {
  opacity: 1;
}

/* Setting up flex setting for the body */
.home-page{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

/* Aligning middle section to properly change components */
.middle-block{
  display: -webkit-inline-box;
  width: 100%;
}
.home, .top, .bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.html-tag{
  display: flex;
}

.html-tag:hover .dropdown-languages{
  opacity: 1;
  transform: scale(1);
  transition-duration: .5s;
}

.dropdown-languages{
  align-self: center;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition-duration: .5s;
  padding: 5px 5px;
  margin-left: 5px;
}

#dropdown-languages img{
  height: 20px;
  margin: 0 5px;
  transition-duration: .5s;
  cursor: pointer;
}

#dropdown-languages img:hover{
  -webkit-box-shadow: 0px 3px 0px 0px #00bfa5;
  -moz-box-shadow: 0px 3px 0px 0px #00bfa5;
  box-shadow: 0px 3px 0px 0px #00bfa5;
  transform: scale(1.1);
  transition-duration: .5s;
}

.tag{
  font-family: "Caveat";
  font-size: 20px;
  color: grey;
  -webkit-user-select:none; 
  -webkit-touch-callout:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;  
  z-index: 2;
}
.tag:hover{
  color: #0091ea;
}

.header-tag{
  margin-left: 5%;
  z-index: 2;
}
.tile{
  font-size: 25px;
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.body-tag{
  margin-left: 10%;
  z-index: 2;
}

.h1-tag, .h2-tag, .p-tag{
  margin-left: 15%;
  z-index: 2;
}
.welcome{
  margin-left: 20%;
  overflow: hidden;
}
.welcome p{
  font-size: 60px;
  font-family: "Raleway";
  font-weight: bolder;
  margin: 0;
  color: white;
  white-space: nowrap;
  user-select: none;
  text-shadow: 3px 3px #000000;
}
.escape-string{
  font-family: "Roboto";
  font-size: 17px;
  letter-spacing: 1px;
  color: #00bfa5;
  overflow: hidden;
  width: 100%;
}
.title-str{
  font-size: 50px;
  color: #00bfa5;
  font-weight: bolder;
  font-family: "Raleway";
}
.content-str{
  font-family: "Roboto";
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  overflow: hidden;
  width: 100%;
}

/* Neon button */
.btn-container{
  margin: 10px auto;
  cursor: pointer;
}

.button-neon {
  font-family: "Raleway";
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    transition: 0.2s;
    max-width: 200px;
    white-space: nowrap;
}
.button-neon span {
  position: absolute;
}
.button-neon span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#00bfa5));
  background: linear-gradient(to left, rgba(8, 20, 43, 0), #00bfa5);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.button-neon span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#00bfa5));
  background: linear-gradient(to top, rgba(8, 20, 43, 0), #00bfa5);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}
@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.button-neon span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#00bfa5));
  background: linear-gradient(to right, rgba(8, 20, 43, 0), #00bfa5);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}
@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.button-neon span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#00bfa5));
  background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #00bfa5);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}
@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}

.button-neon:hover
{
  color: #000000;
  background: #00bfa5;
  animation: pulse;
  box-shadow: 0 0 10px #00bfa5, 0 0 40px #00bfa5, 0 0 80px #00bfa5;
}
.button-neon:active{
  transform: scale(.7);
}

.showcase{
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}

.showcase img{
  transition-duration: .5s;
  max-height: 100vh;
}
.img-placeholder .more-info{
  position: absolute !important;
  align-self: center;
  opacity: 0;
  transition-duration: .5s;
}
.img-placeholder .more-info i{
  font-size: 40px;
}
.img-placeholder .more-info:hover{
  transform: scale(1.2);
  transition-duration: .5s;
}

.img-placeholder .description{
  display: flex;
  align-self: flex-end;
  position: absolute !important;
  width: 300px;
  justify-content: center;
  background-color: #212121;
  opacity: 0;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
  transition-duration: .4s;
}
.img-placeholder .description p{
  font-size: 20px;
  text-shadow: 2px 2px #000000;
  line-height: 30px;
}

.showcase .img-placeholder:hover .page-logo{
  transform: scale(1.1);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  transition: ease-in-out;
  transition-duration: .5s;
}
.showcase .img-placeholder:hover .more-info,
.showcase .img-placeholder:hover .description{
  opacity: 1;
}

.showcase .img-placeholder{
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

/* modal */
.page-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: url(./assets/overlay.png) repeat;
  z-index: 5;
}

.page-display{
  display: flex;
  flex-flow: column;
}

.page-link{
  width: 100%;
  height: fit-content;
  height: 30px;
  text-align: center;
  align-content: center;
}

.page-link a{
  line-height: normal;
  color: #00bfa5;
  font-size: 20px;
  text-decoration: underline;
}

/* ------INPUT FILEDS------ */
/* label underline focus color */
input[type=email]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus,
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #00bfa5 !important;
  box-shadow: 0 1px 0 0 #00bfa5 !important;
}
/* label focus color */
input[type=email]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label
{
  color: #00bfa5 !important; 
  
}
.input-field .prefix.active{
  color: #00bfa5 !important;
}
.input-field .prefix ~ input,
.input-field .prefix ~ textarea{
  color: white !important;
}

.theme-img-container{
  position: absolute;
  display: flex;
  align-self: center;
  max-width: 100%;
  transition: ease-in-out;
  transition-duration: .5s;
}

.skills-img-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px auto;
  width: 100%;
}

.skills-img-container img{
max-height: 30px;
}

.skills-img-container i{
  font-size: 30px;
}

/* Footer */
footer{
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #1B1B1B;
  -webkit-box-shadow: -2px 3px 15px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 3px 15px 1px rgba(0,0,0,0.75);
  box-shadow: -2px 3px 15px 1px rgba(0,0,0,0.75);
}

.social{
  display: flex;
  justify-content: space-evenly;
  margin-top: 6px;
}

.social i{
  font-size: 25px;
  transition: .3s;
}
.social i:hover{
  color: #00bfa5 !important;
  transform: scale(1.3);
  transition: .3s;
  transform-origin: center;
}


@media screen and (max-width: 600px){

  .welcome p{
    font-size: 35px
  }
  .title-str{
    font-size: 30px;
  }
}

@media screen and (max-width: 450px){
  .logo{
    display: none;
  }

  .welcome, .p-tag, .h2-tag{
    margin: auto;
  }

.p-tag{
    text-align: justify;
  }
  .p-tag a{
    color: #0091ea;
  }

  .h2-tag{
    margin-bottom: 10px;
  }

  .welcome p{
    font-size: 30px
  }

  .showcase {
    line-height: 0 !important;
    justify-content: center;
    margin: 0 auto;
  }

  .showcase img{
    max-width: 300px;
  }
  
}
